<div class="row">
  <div class="card m-5 p-3" style="width: 16rem;">

    <% if product.image.present? %>
      <%= link_to product do %>
        <%= image_tag product.image, class:"card-img-top" %>
      <% end %>
    <% end %>

    <div class="card-body">
      <h5 class="card-title lead"> <%= link_to product.name, product %> </h5>
    </div>

  </div>
</div>



