<% @title = "Mens Products" %>

<h2 class="display-4 text-center">Men Products</h2>

<% if flash[:add_cart] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:add_cart] %>
  </div>
<% end %>

<div class="card-deck">
  <%= render @men_products  %>
</div>

<%= paginate @men_products %>