<% @title = "Womens Products" %>

<h2 class="display-4 text-center">Women Products</h2>

<% if flash[:add_cart] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:add_cart] %>
  </div>
<% end %>

<div class="card-deck">
  <%= render @women_products  %>
</div>

<%= paginate @women_products %>